<div ng-app="Bakery-Email-List">
  <div ng-controller="SubscribersController">
    <h1>Contact</h1>
    <p>Find me </p>

    <p ng-repeat="subscriber in email_subscribers">{{subscriber.email}}</p>

  </div>




</div>
