<body id="contact-body">
  <div ng-app="Bakery-Email-List">

    <div ng-controller="SubscribersController">
      <div class="top-bar-container">
        <h1>Contact</h1>
        <div>
          <%= link_to "Home", root_path%>
          <%= link_to "About", about_path%>
        </div>
      </div>
      <div class="main-container">
        <h3>Join our mailing list!</h3>
        <input type = "text" ng-model="emailInput" name ="email_subscriber[email]" placeholder="Email">
        <input type = "text" ng-model="zipcodeInput" name ="email_subscriber[zipcode]" placeholder="Zipcode">
        <button ng-click="makeEmail(emailInput,zipcodeInput)">Join!</button>
      </div>
    </div>
  </div>
</body>
